@font-face {
  font-family: Ubuntu;
  src: url("fonts/UbuntuSansNerdFont-Regular.woff") format("woff");
}
@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  src: url("fonts/UbuntuSansNerdFont-Bold.woff") format("woff");
}

@media only screen and (max-width: 800px) and (min-width: 550px) {
  .mobile-menu-items {
    display: flex;
  }
  .desktop-menu-items {
    display: none;
  }
  header {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 800px){
  .mobile-menu-items {
    display: none;
  }
  .desktop-menu-items {
    display: flex;
  }
  header {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px){
  .mobile-menu-items {
    display: flex;
  }
  .desktop-menu-items {
    display: none;
  }
  header {
    font-size: 1.5em;
  }
  #home-button-mob {
    padding: 1em;
    font-size: 2em;
  }
  #csjournal-button-mob { display: none; }
  #devblog-button-mob { display: none; }
  #abtme-button-mob { display: none; }
  #youtube-link-items { display: none; }
  #projects-button-mob { display: none; }
}

@media only screen and (max-width: 650px) and (min-width: 500px){
  .mobile-menu-items {
    display: flex;
  }
  .desktop-menu-items {
    display: none;
  }
  header {
    font-size: 1.75em;
  }
  #csjournal-button-mob { display: none; }
  #devblog-button-mob { display: none; }
}

html, body {
  color: #333;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  font-size: 1em;
  line-height: 1.5em;
  overscroll-behavior-y: none;
}

td, th {
  border: 2px red solid;
  margin: 0.5em;
}

body {
  display: flex;
  flex-direction: column;
  height:100vh;
}

hr {
  height: 0.175em;
  border-width: 0;
  background-color: slategrey;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  word-wrap: stable;
  padding: 0;
  font-weight: normal;
}

h2 {
  color: #6890B1;
}

h4 {
  color: #363745;
}
p {
  margin: 1em;
}

img {
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em 1.25em;
  background-color: #444;
  color: #fff;
}

header a:link, header a:hover {
  text-decoration: none;
}

header a:active, a:visited {
  color: #fff;
  text-decoration: none;
}

#menu-items {
  display: flex;
}

#csjournal-button,#csjournal-button-mob {
  margin-left: 1.5em;
  cursor: pointer;
}

#devblog-button,#devblog-button-mob {
  margin-left: 1.5em;
  cursor: pointer;
}

#home-button,#home-button-mob {
  cursor: pointer;
}

#projects-button,#projects-button-mob {
  margin-left: 1.5em;
  cursor: pointer;
}

#abtme-button,#abtme-button-mob {
  margin-left: 1.5em;
  cursor: pointer;
}

#devblog {
  background-color: #aaa;
  padding: 0.5em 1em;
}

#csjournal {
  background-color: #bbb;
  padding: 0.5em 1em;
}

#projects {
  background-color: #ccc;
}

#abtme {
  background-color: #999;
}

#home {
  background-color: #999;
}

#icon-items img {
  display: flex;
  width: 2em;
}

#link-items img {
  display: flex;
  width: 2em;
}

#link-items {
  display: flex;
}

#youtube-link-items{
  margin: 0em 0em 0em 1em;
}

#container {
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
}

#preview-wrapper {
  padding: 0.625em;;
}

.column {
  overflow-y: scroll;
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

#preview.column {
  white-space: normal;
}
