@font-face {
  font-family: Ubuntu;
  src: url("fonts/UbuntuSansNerdFont-Regular.woff") format("woff");
}
@font-face {
  font-family: Ubuntu;
  font-weight: bold;
  src: url("fonts/UbuntuSansNerdFont-Bold.woff") format("woff");
}

@media only screen and (min-width: 1080px) {
  .tablet-menu-items {
    display: none;
  }
  .desktop-menu-items {
    display: flex;
  }
  #main-items {
    font-size: 1em;
  }
  #menu-button-mob { display: none; }
  #mobile-menu-items { display: none; }
  #home-container { width: 45%; }
  .img-photo-home { width: 10rem; }
  html, body { font-size: 1em; }
}

@media only screen and (min-width: 680px) and (max-width: 1080px) {
  .tablet-menu-items {
    display: none;
  }
  .desktop-menu-items {
    display: flex;
  }
  #main-items {
    font-size: 1em;
  }
  #menu-button-mob { display: none; }
  #mobile-menu-items { display: none; }
  #home-container { width: 85%; }
  .img-photo-home { width: 10rem; }
  html, body { font-size: 1em; }
}

@media only screen and (min-width: 480px) and (max-width: 680px) {
  .tablet-menu-items {
    display: flex;
  }
  .desktop-menu-items {
    display: none;
  }
  #container {
    flex-direction: column-reverse;
  }
  #main-items {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #menu-button-mob { display: none; }
  #mobile-menu-items { display: none; }
  #home-container { width: 100%; }
  .img-photo-home { width: 10rem; }
  html, body { font-size: 1em; }
}

@media only screen and (max-width: 480px) and (min-width: 360px) {
  .tablet-menu-items {
    display: flex;
  }
  .desktop-menu-items {
    display: none;
  } #container {
    flex-direction: column-reverse;
  }
  #main-items {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #csjournal-button-mob { display: none; }
  #devblog-button-mob { display: none; }
  #youtube-link-items { display: none; }
  #projects-button-mob { display: none; }
  #mobile-menu-items { display: none; }
  #menu-button-mob { display: block; }
  #home-container { width: 100%; }
  #home-headline-container { flex-direction: column; }
  .img-photo-home { width: 8em; }
  html, body { font-size: 0.85em; }
}

@media only screen and (max-width: 360px) {
  .tablet-menu-items {
    display: flex;
  }
  .desktop-menu-items {
    display: none;
  }
  #container {
    flex-direction: column-reverse;
  }
  #main-items {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  #home-button-mob {
    padding: 0.125em;
    font-size: 1.25em; 
  }
  #menu-button-mob {
    padding: 0.125em;
    font-size: 1.25em; 
  }
  #csjournal-button-mob { display: none; }
  #devblog-button-mob { display: none; }
  #youtube-link-items { display: none; }
  #projects-button-mob { display: none; }
  #menu-button-mob { display: block; }
  #mobile-menu-items { display: none; }
  #home-container { width: 100%; }
  #home-headline-container { flex-direction: column; }
  .img-photo-home { width: 5em; }
  html, body { font-size: 0.85em; }
}

ul {
  margin-block-start: 0px;
}

html, body {
  color: #333;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  line-height: 1.5em;
  overscroll-behavior-y: none;
  transition: all 750ms, height 0ms;
}

td, th {
  border: 2px red solid;
  margin: 0.5em;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

hr {
  height: 0.175em;
  border-width: 0;
  background-color: slategrey;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  word-wrap: stable;
  padding: 0;
  font-weight: normal;
}

h2 { color: #343268; }

h3 a {
  text-decoration: none;
  color: #3B3892;
}

h4 { color: #363745; }

p { margin: 1em; }

img { border: none; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em 1.25em;
  background-color: #444;
  color: #fff;
  z-index: 100;
}

#main-items {
  display: flex;
  flex-direction: column;
}

#mobile-menu-items {
  z-index: 100;
  justify-content: center;
  background-color: #555;
  color: #eee;
}

#mobile-menu-items a { cursor: pointer; }

#menu-items { display: flex; }

#menu-items a { cursor: pointer; }

.mobile-button { cursor: pointer; }
.desktop-button { cursor: pointer; }

#csjournal-button-mob,
#devblog-button-mob,
#projects-button-mob,
#menu-button-mob {
  margin-left: 1em;
}

#csjournal-button-men,
#devblog-button-men,
#projects-button-men,
#menu-button-men {
  margin-left: 1em;
}

#csjournal-button,
#devblog-button,
#projects-button {
  margin-left: 1.5em;
}

#home-button { cursor: pointer; }

#devblog {
  background-color: #aaa;
  padding: 0.5em 1em;
}

#csjournal {
  background-color: #bbb;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#csjournal-container {
  width: 80%;
}

#projects { background-color: #ccc; }

#home {
  background-color: #888; 
  display: flex;
  justify-content: center;
}

#home-container {
  width: 100%;
  word-wrap: break-word;
  overflow-x: hidden;
}

#home-headline {
  height: 20em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  align-items: center;
  background-color: #aaa;
  color: #333;
}

#home-headline-container {
  display: flex;
  align-items: center;
}

.name-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1-name-home {
  padding: 1em;
  font-weight: bold;
}

#home-midline {
  margin-top: 1em;
  padding: 2em 0em;
  display: flex;
  background-color: #bbb;
  overflow: hidden;
}

#home-midline-container {
  display: flex;
  flex-direction: row;
}

.skills-h2 { padding: 0em 1em; }

#skills {
  flex-basis: 100%;
  position: relative;
  width: 100%;
  vertical-align: top;
  animation: elm-anim 12s linear infinite;
  animation-delay: 0s;
}

@keyframes elm-anim {
  from { left: 0%; }
  to { left: -100%; }
}

#icon-items img {
  display: flex;
  width: 2em;
}

#link-items img {
  display: flex;
  width: 2em;
}

#link-items { display: flex; }

#youtube-link-items{ margin: 0em 0em 0em 1em; }

#container {
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: #ccc;
  display: flex;
}

#preview-wrapper { padding: 0.625em; }

.column {
  overflow-y: scroll;
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

#preview.column { white-space: normal; }
